server {
	listen       80;
	server_name  hello.example.local;

	root /var/virtualdomains/hello.example.local/;
	index index.php index.html index.htm;

	location / {
		if (-f $request_filename) {
			expires 30d;
			break;
		}
	}
	location ~ [^/]\.php(/|$) {
		fastcgi_pass unix:/var/run/php-fpm/php-fpm.sock;
		fastcgi_index index.php;

		include fastcgi_params;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		fastcgi_param PATH_INFO $fastcgi_path_info;
		fastcgi_param PATH_TRANSLATED $document_root$fastcgi_path_info;
	}
}
