[uwsgi]
# application setting
base = /var/virtualdomains/pythonapp.9zilla.local/mysite/
wsgi-file = hello/wsgi.py

# virtualenv setting
chdir = %(base)
virtualenv = /home/9zilla/.anyenv/envs/pyenv/versions/pythonapp/
# home = /home/9zilla/.anyenv/envs/pyenv/versions/pythonapp/
# pythonpath = %(base)

# socket setting
socket = /etc/uwsgi/sockets/%n.sock
chmod-socket = 666
uid = www-data
gid = www-data

logto = /var/log/uwsgi/%n.log

touch-reload = %(base)/.uwsgi_reload

processes = 4
threads = 2
vacuum = true
